-- Create table for Form Definitions
CREATE TABLE IF NOT EXISTS custom_forms (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    title TEXT NOT NULL,
    description TEXT,
    fields JSONB DEFAULT '[]'::jsonb,
    is_active BOOLEAN DEFAULT TRUE,
    created_by TEXT,
    created_at TIMESTAMPTZ DEFAULT NOW()
);
-- Create table for Form Submissions
CREATE TABLE IF NOT EXISTS custom_form_submissions (
    id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
    form_id UUID REFERENCES custom_forms(id) ON DELETE
    SET NULL,
        data JSONB DEFAULT '{}'::jsonb,
        submitted_by TEXT,
        -- Changed to TEXT to match Supabase auth.uid() or common patterns
        submitted_by_name TEXT,
        submitted_at TIMESTAMPTZ DEFAULT NOW(),
        status TEXT DEFAULT 'Pending',
        document_number TEXT,
        workflow_instance_id UUID
);